table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f2f2f2;
  text-align: left;
}

td {
  border: 1px solid #b3b3b3;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ffffff82;
}

tr:nth-child(odd) {
  background-color: #ffffffc9;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.error {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: red;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

form {
  width: fit-content;
}
